.container {
    padding: 40px;
    width: 800px;
    height: 400px;
    margin: 0px auto;
    background: #ffdeb887;
}

.slick-list {
    padding-left: 5%!important;
    padding-right: 5%!important;
}

.slick-track {
    max-width: 50%;
    transform: translate3d(0, 0, 0)!important;
    perspective: 800px;
}

.slick-slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    width: 100%!important;
    transform: translate3d(0, 0, 0);
    transition: transform 1s, opacity 1s;
}

.slick-snext,
.slick-sprev,
.slick-snext2,
.slick-sprev2 {
    display: block;
}

.slick-current {
    opacity: 1;
    position: relative;
    display: block;
    z-index: 2;
}

.slick-snext {
    opacity: 1;
    transform: translate3d(10%, 0, -10px);
    z-index: 1;
    perspective: 1000px;
}

.slick-snext2 {
    opacity: 1;
    transform: translate3d(20%, 0, -20px);
    z-index: 0;
    perspective: 1000px;
}

.slick-sprev {
    opacity: 1;
    transform: translate3d(-10%, 0, -10px);
}

.slick-sprev2 {
    opacity: 1;
    transform: translate3d(-20%, 0, -20px);
}

.slider {
    box-shadow: inset 0px 0px 0px 3px #000
}