{% extends 'layout.html' %}

{% block body %}
<!-- header -->
<header id="default_header" class="header_style_1">
    <!-- header top -->
    <div class="header_top">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="full">
                        <div class="topbar-left">
                            <ul class="list-inline">

                                <div class="float-left">
                                    <div class="social_icon">
                                        <ul class="list-inline">
                                            <li>
                                                <a class="fa fa-facebook" href="https://www.facebook.com/"
                                                    title="Facebook" target="_blank"></a>
                                            </li>
                                            <li>
                                                <a class="fa fa-google-plus" href="https://plus.google.com/"
                                                    title="Google+" target="_blank"></a>
                                            </li>
                                            <li>
                                                <a class="fa fa-twitter" href="https://twitter.com" title="Twitter"
                                                    target="_blank"></a>
                                            </li>
                                            <li>
                                                <a class="fa fa-linkedin" href="https://www.linkedin.com"
                                                    title="LinkedIn" target="_blank"></a>
                                            </li>
                                            <li>
                                                <a class="fa fa-instagram" href="https://www.instagram.com"
                                                    title="Instagram" target="_blank"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 right_section_header_top">
                    <div class="social_icon">
                        <ul class="list-inline">
                            {% if logged_in %}
                            <li>
                                <a href="/logout" style="text-align: left;">Cerrar sesión</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="/login" style="text-align: left;">Iniciar sesión</a>
                            </li>
                            {% endif %}
                            <li>
                                <a href="/tarjeta_status" style="text-align: left;">Dashboard</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header top -->
    <!-- header bottom -->
    <div class="header_bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <!-- logo start -->
                    <div class="logo">
                        <img src="/static/img/logo.png" alt="logo" />
                    </div>
                    <!-- logo end -->
                </div>
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <!-- menu start -->
                    <div class="menu_side">
                        <div id="navbar_menu">
                            <ul class="first-ul">
                                <li> <a href="/">Inicio</a>
                                </li>
                                <li><a href="/quienes">Acerca de nosotros</a></li>
                                </li>
                                <li> <a href="/mt">¿Qué son las Minitourist Cards?</a>
                                </li>
                                <li> <a href="/contacto">Contáctanos</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!-- menu end -->
                </div>
            </div>
        </div>
    </div>
    <!-- header bottom end -->
</header>
<!-- end header -->

<div class="row">
    <div class="col-md-10">
        <div class="card card-body">
            <form name="createUser" action="/add_clients" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="text" name="name" placeholder="Nombre del cliente" class="form-control" required>
                    <input type="text" name="direction" placeholder="Dirección" class="form-control" required>
                    <input type="text" name="phone" placeholder="Número de teléfono" class="form-control" required>
                    <input type="text" name="email" placeholder="Correo electrónico" class="form-control" required>
                    <input type="text" name="pass" placeholder="Contraseña" class="form-control" required>
                    <select name="location" id="location" class="form-control" required>
                        <option value="" selected disabled>Seleccione una ciudad</option>
                        <option value="Zihuatanejo">Zihuatanejo</option>
                        <option value="Acapulco">Acapulco</option>
                    </select>
                    <select name="card-type" id="card-type" class="form-control" required>
                        <option value="" selected disabled>Seleccione una clasificación</option>
                        <option value="parques">Parques y atracciones</option>
                        <option value="restaurantes">Restaurantes, bar y cafeterías</option>
                        <option value="lugares">Lugares y eventos</option>
                        <option value="tiendas">Tiendas</option>
                        <option value="servicios">Servicios</option>
                    </select>
                    <label for="front_img">Imagen frontal</label>
                    <input type="file" name="front_image" class="form-control" required>
                    <label for="back_img">Imagen trasera</label>
                    <input type="file" name="back_image" class="form-control" required>
                    <button type="submit" class="btn btn-primary btn-block">
                        Registrar
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md 7">
        <table class="table table-striped table-bordered bg-white table-sm w-auto">
            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %} {% endif %} {% endwith %}
            <thead>
                <tr>
                    <td>Cliente</td>
                    <td>Dirección</td>
                    <td>Ciudad</td>
                    <td>Número de teléfono</td>
                    <td>Correo electrónico</td>
                    <td>Tipo tarjeta</td>
                    <td>Operaciones</td>
                </tr>
            </thead>
            <tbody>
                {% for client in client_data %}
                <tr>
                    <td>{{client.1}}</td>
                    <td>{{client.2}}</td>
                    <td>{{client.3}}</td>
                    <td>{{client.4}}</td>
                    <td>{{client.5}}</td>
                    <td>{{client.9}}</td>
                    <td>
                        <a href="/edit/{{client.0}}" class="btn btn-secondary">Actualizar</a>
                        <a href="/delete/{{client.0}}" class="btn btn-danger btn-delete">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<!-- menu js -->
<script src="/static/js/menumaker.js"></script>
<!-- wow animation -->
<script src="/static/js/wow.js"></script>
<!-- custom js -->
<script src="/static/js/custom.js"></script>

{% endblock %}