<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
    <div class="logo">
        <img src="/static/img/logo.png" alt="minitourist" height="300">
    </div>
    <div class="menu">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="left current nav-link" href="/"><span>Inicio</span></a>
            </li>
            <li class="nav-item">
                <a class="left" href="/quienes" class="nav-link"><span>¿Quiénes somos?</span></a>
            </li>
            <li class="nav-item">
                <a class="left" href="#messages" class="nav-link"><span>Paquetes Cards</span></a>
            </li>
            <li class="nav-item">
                <a class="left" href="#messages" class="nav-link"><span>Contáctanos</span></a>
            </li>
            <li class="login">
                <a class="right" href="#messages" class="nav-link"><span>Iniciar sesión</span></a>
            </li>
            <li class="login">
                <a class="right" href="#messages" class="nav-link"><span>Facebook</span></a>
            </li>
            <li class="login">
                <a class="right" href="#messages" class="nav-link"><span>Twitter</span></a>
            </li>
            <li class="login">
                <a class="right" href="#messages" class="nav-link"><span>Instagram</span></a>
            </li>
            <!--<li class="login">
                <a href="/clients" class="nav-link">Clients</a>
            </li>-->
        </ul>
    </div>
</body>

</html>