<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Minitourist Cards</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icons -->
    <link rel="icon" href="images/fevicon/fevicon.png" type="image/gif" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <!-- Site css -->
    <link rel="stylesheet" href="/static/css/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="/static/css/responsive.css" />
    <!-- colors css -->
    <link rel="stylesheet" href="/static/css/colors1.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="/static/css/custom.css" />
    <!-- wow Animation css -->
    <link rel="stylesheet" href="/static/css/animate.css" />
    <link rel="stylesheet" href="/static/css/login_style.css" />
</head>

<body>
    <!-- header -->
    <header id="default_header" class="header_style_1">
        <!-- header top -->
        <div class="header_top">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="full">
                            <div class="topbar-left">
                                <ul class="list-inline">
                                    
                                    <div class="float-left">
                                        <div class="social_icon">
                                            <ul class="list-inline">
                                                <li>
                                                    <a class="fa fa-facebook" href="https://www.facebook.com/" title="Facebook" target="_blank"></a>
                                                </li>
                                                <li>
                                                    <a class="fa fa-google-plus" href="https://plus.google.com/" title="Google+" target="_blank"></a>
                                                </li>
                                                <li>
                                                    <a class="fa fa-twitter" href="https://twitter.com" title="Twitter" target="_blank"></a>
                                                </li>
                                                <li>
                                                    <a class="fa fa-linkedin" href="https://www.linkedin.com" title="LinkedIn" target="_blank"></a>
                                                </li>
                                                <li>
                                                    <a class="fa fa-instagram" href="https://www.instagram.com" title="Instagram" target="_blank"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 right_section_header_top">
                        <div class="social_icon">
                            <ul class="list-inline">
                                {% if logged_in %}
                                <li>
                                    <a href="/logout" style="text-align: left;">Cerrar sesión</a>
                                </li>
                                {% else %}
                                <li>
                                    <a href="/login" style="text-align: left;">Iniciar sesión</a>
                                </li>
                                {% endif %}
                                <li>
                                    <a href="/tarjeta_status" style="text-align: left;">Dashboard</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header top -->
        <!-- header bottom -->
        <div class="header_bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <!-- logo start -->
                        <div class="logo">
                            <img src="/static/img/logo.png" alt="logo" />
                        </div>
                        <!-- logo end -->
                    </div>
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <!-- menu start -->
                        <div class="menu_side">
                            <div id="navbar_menu">
                                <ul class="first-ul">
                                    <li> <a href="/">Inicio</a>
                                    </li>
                                    <li><a href="/quienes">Acerca de nosotros</a></li>
                                    </li>
                                    <li> <a href="/mt">¿Qué son las Minitourist Cards?</a>
                                    </li>
                                    <li> <a href="/contacto">Contáctanos</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                        <!-- menu end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header bottom end -->
    </header>
    <!-- end header -->

    <h2>Inicio de sesión</h2>

    <form action="/login_data" method="POST">
        <div class="imgcontainer">
            <img src="/static/img/login.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <label for="correo"><b>Correo</b></label>
            <input type="text" placeholder="Correo" name="correo" required>

            <label for="pass"><b>Contraseña</b></label>
            <input type="password" placeholder="Contraseña" name="pass" required>
            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %} {% endif %} {% endwith %}
            <button type="submit">Iniciar sesión</button>
            <label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <span class="pass">¿Olvidaste tu <a href="#">contraseña?</a></span>
        </div>
    </form>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- menu js -->
    <script src="/static/js/menumaker.js"></script>
    <!-- wow animation -->
    <script src="/static/js/wow.js"></script>
    <!-- custom js -->
    <script src="/static/js/custom.js"></script>

</body>

</html>