<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
    <div class="logo">
        <img src="/static/img/logo.jpg" alt="">
    </div>
    <div class="menu">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="/" class="nav-link">Inicio</a>
            </li>
            <li class="nav-item">
                <a href="/quienes" class="current nav-link">¿Quiénes somos?</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Paquetes Cards</a>
            </li>
            <li class="nav-item">
                <a href="#messages" class="nav-link">Contáctanos</a>
            </li>
            <li class="nav-item">
                <a href="#messages" class="nav-link">Iniciar sesión</a>
            </li>
            <li class="nav-item">
                <a href="/clients" class="nav-link">Clients</a>
            </li>
        </ul>

    </div>
</body>

</html>