<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/slick_carousel.css">
</head>

<body>
    <div class="container">
        <div class="rev_slider">
            {% for name in image_names %}
            <div class="rev_slide">
                <div class="slider">
                    <img class="card" id="mini-card" src="{{url_for('static', filename='img/Acapulco/' + name)}}" height="300">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script>
        var rev = $('.rev_slider');
        rev.on('init', function(event, slick, currentSlide) {
            var
                cur = $(slick.$slides[slick.currentSlide]),
                next = cur.next(),
                next2 = cur.next().next(),
                prev = cur.prev(),
                prev2 = cur.prev().prev();
            prev.addClass('slick-sprev');
            next.addClass('slick-snext');
            prev2.addClass('slick-sprev2');
            next2.addClass('slick-snext2');
            cur.removeClass('slick-snext').removeClass('slick-sprev').removeClass('slick-snext2').removeClass('slick-sprev2');
            slick.$prev = prev;
            slick.$next = next;
        }).on('beforeChange', function(event, slick, currentSlide, nextSlide) {
            console.log('beforeChange');
            var
                cur = $(slick.$slides[nextSlide]);
            console.log(slick.$prev, slick.$next);
            slick.$prev.removeClass('slick-sprev');
            slick.$next.removeClass('slick-snext');
            slick.$prev.prev().removeClass('slick-sprev2');
            slick.$next.next().removeClass('slick-snext2');
            next = cur.next(),
                prev = cur.prev();
            //prev2.prev().prev();
            //next2.next().next();
            prev.addClass('slick-sprev');
            next.addClass('slick-snext');
            prev.prev().addClass('slick-sprev2');
            next.next().addClass('slick-snext2');
            slick.$prev = prev;
            slick.$next = next;
            cur.removeClass('slick-next').removeClass('slick-sprev').removeClass('slick-next2').removeClass('slick-sprev2');
        });

        rev.slick({
            dots: true,
            focusOnSelect: true,
            prevArrow: '<button> prev</button>',
            nextArrow: '<button> next</button>',
            infinite: true,
            centerMode: true,
            slidesPerRow: 1,
            slidesToShow: 1,
            slidesToScroll: 1,
            centerPadding: '0',
            swipe: true,
            autoplay: true,
            autoplaySpeed: 5000,
            customPaging: function(slider, i) {
                return '';
            },
            /*infinite: false,*/
        });
    </script>

</body>

</html>