{% extends 'layout.html' %}

{% block body %}
<!-- header -->
<header id="default_header" class="header_style_1">
    <!-- header top -->
    <div class="header_top">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="full">
                        <div class="topbar-left">
                            <ul class="list-inline">

                                <div class="float-left">
                                    <div class="social_icon">
                                        <ul class="list-inline">
                                            <li>
                                                <a class="fa fa-facebook" href="https://www.facebook.com/"
                                                    title="Facebook" target="_blank"></a>
                                            </li>
                                            <li>
                                                <a class="fa fa-google-plus" href="https://plus.google.com/"
                                                    title="Google+" target="_blank"></a>
                                            </li>
                                            <li>
                                                <a class="fa fa-twitter" href="https://twitter.com" title="Twitter"
                                                    target="_blank"></a>
                                            </li>
                                            <li>
                                                <a class="fa fa-linkedin" href="https://www.linkedin.com"
                                                    title="LinkedIn" target="_blank"></a>
                                            </li>
                                            <li>
                                                <a class="fa fa-instagram" href="https://www.instagram.com"
                                                    title="Instagram" target="_blank"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 right_section_header_top">
                    <div class="social_icon">
                        <ul class="list-inline">
                            {% if logged_in %}
                            <li>
                                <a href="/logout" style="text-align: left;">Cerrar sesión</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="/login" style="text-align: left;">Iniciar sesión</a>
                            </li>
                            {% endif %}
                            <li>
                                <a href="/tarjeta_status" style="text-align: left;">Dashboard</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header top -->
    <!-- header bottom -->
    <div class="header_bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <!-- logo start -->
                    <div class="logo">
                        <img src="/static/img/logo.png" alt="logo" />
                    </div>
                    <!-- logo end -->
                </div>
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <!-- menu start -->
                    <div class="menu_side">
                        <div id="navbar_menu">
                            <ul class="first-ul">
                                <li> <a href="/">Inicio</a>
                                </li>
                                <li><a href="/quienes">Acerca de nosotros</a></li>
                                </li>
                                <li> <a href="/mt">¿Qué son las Minitourist Cards?</a>
                                </li>
                                <li> <a href="/contacto">Contáctanos</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!-- menu end -->
                </div>
            </div>
        </div>
    </div>
    <!-- header bottom end -->
</header>
<!-- end header -->
<div class="col-md-4 offset-md-4">
    <div class="card card-body">
        <form action="/update/{{data.0}}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <input type="text" name="client" placeholder="Nombre del cliente" value="{{data.1}}" class="form-control" required>
                <input type="text" name="direction" placeholder="Dirección" value="{{data.2}}" class="form-control" required>
                <input type="hidden" name="location" value="{{data.3}}" class="form-control" required>
                <input type="text" name="phone" placeholder="Número de teléfono " value="{{data.4}}" class="form-control" required>
                <input type="text" name="email" placeholder="Correo electrónico" value="{{data.5}}" class="form-control" required>
                <input type="hidden" name="old-img" value="{{data.7}}" class="form-control" required>
                <input type="hidden" name="card-type" value="{{data.9}}" class="form-control">
                <input type="text" name="new-card" id="new-card" value="{{data.7}}" class="form-control new-card" required>
                <input type="text" name="new-card-back" id="new-card-back" value="{{data.7}}" class="form-control new-card-back" required>
                <input type="file" name="front-image" id="front-image" class="form-control front-image">
                <input type="file" name="back-image" id="back-image" class="form-control back-image">
                <button type="submit" class="btn btn-primary btn-block">
                    Actualizar
                </button>
            </div>
        </form>
    </div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<!-- menu js -->
<script src="/static/js/menumaker.js"></script>
<!-- wow animation -->
<script src="/static/js/wow.js"></script>
<!-- custom js -->
<script src="/static/js/custom.js"></script>
<script src="/static/js/newImage.js"></script>
{% endblock %}